<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Added tools namespace -->
    <!-- Permissions -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WordCount">
        <activity
            android:name=".WorkerBalancedActivity"
            android:label="@string/app_name_wb"
            android:exported="false" />
        <activity
            android:name=".MasterBalancedActivity"
            android:label="@string/app_name_mb"
            android:exported="false" />
        <activity
            android:name=".BalancedActivity"
            android:label="@string/app_name_balanced"
            android:exported="false" />
        <activity
            android:name=".EqualActivity"
            android:label="@string/app_name_equal"
            android:exported="false" /> <!-- For Android 12+ Only -->
        <meta-data
            android:name="android.content.APP_DATA_EXTRACTION_RULES"
            android:resource="@xml/data_extraction_rules"
            tools:ignore="MissingAppDataExtractionRules" />
        <meta-data
            android:name="android:fullBackupContent"
            android:resource="@xml/backup_rules"
            tools:ignore="MissingBackupRules" /> <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MasterActivity -->
        <activity
            android:name=".MasterActivity"
            android:label="@string/app_name_me"
            android:exported="false" /> <!-- WorkerActivity -->
        <activity
            android:name=".WorkerActivity"
            android:label="@string/app_name_we"
            android:exported="false" />
    </application>

</manifest>